<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower Shop</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background: bisque">


<div id=”header”>
    <h1 style="background: darkslategray">Filo Flower Shop
        <p>
            <a href="/flower/add" class="btn btn-success">Kwiaty</a>
            <button type="button" class="btn btn-success">Promocje</button>
            <a href="/category" class="btn btn-success">Kategorie</a>
            <button type="button" class="btn btn-success">Akcesoria</button>
            <button type="button" class="btn btn-success">Blog</button>
            <button type="button" class="btn btn-success">Zaloguj się</button>
            <button type="button" class="btn btn-success">Moje konto</button>
            <button type="button" class="btn btn-success">Lista życzeń</button>
            <button type="button" class="btn btn-success">Kontakt</button></p>
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_MELANOCHRYSUM-flower-plant-farming_and_gardening-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_PINK_PRINCESS-pink_princess-philodendron-plant-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PEACE_LILY-flower-plant-farming_and_gardening-gardening-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/SPIDER_PLANT-farming_and_gardening-gardening-garden-plants-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/GOLDEN_POTHOS-plant-nature-botanic-gardening-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/XANADU-leaf-philodendron-plant-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn1.iconfinder.com/data/icons/therapy-8/64/GARDENING-garden-farming-shovel-sprout-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SHOVEL-farming-gardening-construction_and_tools-dig-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SPRAY_BOTTLE--farming-gardening-tools-512.png" style="size: 100px" width="200">

    </h1>
</div>


<div style="width: 100%; max-width: 500px; margin: 200px auto">
    <h1 style="color: darkslategray" </h1>


    <form method="post" action="/flower/add" th:object="${flower}">

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nazwa</label>
            <input type="text" th:field="*{name}" class="form-control" id="formGroupExampleInput" placeholder="Nazwa">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Opis</label>
            <input type="text" th:field="*{description}" class="form-control" id="formGroupExampleInput" placeholder="Opis">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Kategoria</label>
            <select th:field="*{category}">
                <option th:each="category: ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Cena</label>
            <input type="number" th:field="*{price}" class="form-control" id="formGroupExampleInput" placeholder="Cena">
        </div>

        <p><input class="btn btn-primary" type="submit" value="Dodaj" /></p>

    </form>

<p>
    <a class="btn btn-primary" href="/" role="button">Powrót</a>

</p>

</div>





</body>
</html>