<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower Shop</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>


<div id=”header”>
    <h1 style="background: darkslategray">Filo Flower Shop
        <p>
            <a href="/flower/add" class="btn btn-success">Kwiaty</a>
            <button type="button" class="btn btn-success">Promocje</button>
            <a href="/category" class="btn btn-success">Kategorie</a>
            <button type="button" class="btn btn-success">Akcesoria</button>
            <button type="button" class="btn btn-success">Blog</button>
            <button type="button" class="btn btn-success">Zaloguj się</button>
            <button type="button" class="btn btn-success">Moje konto</button>
            <button type="button" class="btn btn-success">Lista życzeń</button>
            <button type="button" class="btn btn-success">Kontakt</button></p>
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_MELANOCHRYSUM-flower-plant-farming_and_gardening-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_PINK_PRINCESS-pink_princess-philodendron-plant-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PEACE_LILY-flower-plant-farming_and_gardening-gardening-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/SPIDER_PLANT-farming_and_gardening-gardening-garden-plants-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/GOLDEN_POTHOS-plant-nature-botanic-gardening-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/XANADU-leaf-philodendron-plant-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn1.iconfinder.com/data/icons/therapy-8/64/GARDENING-garden-farming-shovel-sprout-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SHOVEL-farming-gardening-construction_and_tools-dig-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SPRAY_BOTTLE--farming-gardening-tools-512.png" style="size: 100px" width="200">

    </h1>
</div>

<h1>Dodaj kwiata</h1>

<form method="post" action="/flower/add" th:object="${flower}">

    <input type="text" th:field="*{name}" placeholder="Nazwa"/>
    <input type="text" th:field="*{description}" placeholder="Opis"/>
    <input type="number" th:field="*{price}" placeholder="Cena"/>
    <select th:field="*{categories}">
        <option th:each="category: ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
    </select>
    <input type="submit" value="Dodaj!" />

</form>



</body>
</html>