<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flower Shop</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background: bisque">
<div id=”header”>
    <h1 style="background: darkslategray">Filo Flower Shop
        <p>
            <button type="button" class="btn btn-success">Kwiaty</button>
            <button type="button" class="btn btn-success">Promocje</button>
            <a href="/category" class="btn btn-success">Kategorie</a>
            <button type="button" class="btn btn-success">Akcesoria</button>
            <button type="button" class="btn btn-success">Blog</button>
            <button type="button" class="btn btn-success">Zaloguj się</button>
            <button type="button" class="btn btn-success">Moje konto</button>
            <button type="button" class="btn btn-success">Lista życzeń</button>
            <button type="button" class="btn btn-success">Kontakt</button></p>
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_MELANOCHRYSUM-flower-plant-farming_and_gardening-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_PINK_PRINCESS-pink_princess-philodendron-plant-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PEACE_LILY-flower-plant-farming_and_gardening-gardening-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/SPIDER_PLANT-farming_and_gardening-gardening-garden-plants-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/GOLDEN_POTHOS-plant-nature-botanic-gardening-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/XANADU-leaf-philodendron-plant-garden-512.png" style="size: 100px" width="200">
        <img src="https://cdn1.iconfinder.com/data/icons/therapy-8/64/GARDENING-garden-farming-shovel-sprout-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SHOVEL-farming-gardening-construction_and_tools-dig-512.png" style="size: 100px" width="200">
        <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SPRAY_BOTTLE--farming-gardening-tools-512.png" style="size: 100px" width="200">

    </h1>
<body>

<div class="container">
    <img src="https://www.sinsay.com/media/catalog/product/1/8/1888J-01X-001-1_5.jpg" alt="doniczka" style="width:50%;">
    <div class="text-block">
        <h4>Osłonka betonowa 14 cm</h4>
        <p style="color: crimson">19.99 pln</p>
    </div>
</div>

<div class="container">
    <img src="https://dekoracjadomu.b-cdn.net/358541/doniczka-ceramiczna-zielona-9x11-cm.jpg" alt="doniczka" style="width:50%;">
    <div class="text-block">
        <h4>Osłonka ceramiczna 14 cm</h4>
        <p style="color: crimson">15.99 pln</p>
    </div>
</div>

<div class="container">
    <img src="https://cf.shopee.pl/file/22e56646c09303b8a9e0c33e7c886e5e" alt="kwiat" style="width:50%;">
    <div class="text-block">
        <h4>Paprotka zwyczajna</h4>
        <p style="color: crimson">7.99 pln</p>
    </div>
</div>

<div class="container">
    <img src="https://www.swiatkwiatow.pl/userfiles//image/fiolek_alpejski5.jpg" alt="kwiat" style="width:50%;">
    <div class="text-block">
        <h4>Fiołek alpejski</h4>
        <p style="color: crimson">5.99 pln</p>
    </div>
</div>

<p style="margin: auto;width: 100px">
    <a class="btn btn-success" href="/" role="button">Powrót</a>
</p>
<p>
<div id=”footer” style="background: darkslategray">

    <p>Filo Flower Shop</p>
    <p>Starowiejska 12</p>
    <p>81-320 Gdynia</p>

    </p>
</div>



</body>
</html>