<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower Shop</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>


<div id=”header”>
    <h1 style="background: darkslategray">Filo Flower Shop
        <p>
            <a href="/" class="btn btn-success">Kwiaty</a>
        <button type="button" class="btn btn-success">Promocje</button>
        <a href="/category" class="btn btn-success">Kategorie</a>
        <button type="button" class="btn btn-success">Akcesoria</button>
            <button type="button" class="btn btn-success">Blog</button>
        <button type="button" class="btn btn-success">Zaloguj się</button>
        <button type="button" class="btn btn-success">Moje konto</button>
        <button type="button" class="btn btn-success">Lista życzeń</button>
            <button type="button" class="btn btn-success">Kontakt</button></p>
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_MELANOCHRYSUM-flower-plant-farming_and_gardening-garden-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_PINK_PRINCESS-pink_princess-philodendron-plant-garden-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PEACE_LILY-flower-plant-farming_and_gardening-gardening-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/SPIDER_PLANT-farming_and_gardening-gardening-garden-plants-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/GOLDEN_POTHOS-plant-nature-botanic-gardening-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/XANADU-leaf-philodendron-plant-garden-512.png" style="size: 100px" width="200">
    <img src="https://cdn1.iconfinder.com/data/icons/therapy-8/64/GARDENING-garden-farming-shovel-sprout-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SHOVEL-farming-gardening-construction_and_tools-dig-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SPRAY_BOTTLE--farming-gardening-tools-512.png" style="size: 100px" width="200">

    </h1>
</div>
<div id=”navigation”>
    <h2>Aktualności</h2>
    <div class="alert alert-success" role="alert">
        Już teraż poznaj <a href="#" class="alert-link">nowości w świecie roślin</a>. Odwiedź naszego bloga
    </div>
    <div class="alert alert-warning" role="alert">
        Czy istnieje <a href="#" class="alert-link">podłoże idealne</a>. Odwiedź naszego bloga
    </div>
    <div class="alert alert-info" role="alert">
        Moda na doniczki? <a href="#" class="alert-link">Doniczkowe trendy</a>. Odwiedź naszego bloga
    </div>
</div>
<div id="content" style="background: darkgoldenrod">
<h2>Rzadkie rośliny kolekcjonerskie</h2>

    <div class="row">
        <div class="column">
            <img src="https://c4.wallpaperflare.com/wallpaper/836/740/847/leaves-green-nature-philodendron-wallpaper-preview.jpg" style="width:80%">
        </div>
        <div class="column">
            <img src="https://c1.wallpaperflare.com/preview/220/876/945/philodendron-gloriosum-leaves-bush-green.jpg" style="width:80%">
        </div>
        <div class="column">
            <img src="https://cdn-agibe.nitrocdn.com/IbsTdRtfLmOaqLtYiHdaQbOvoVymkGGQ/assets/static/optimized/rev-2e8169e/thegrowingplants.com/wp-content/uploads/2020/07/6bd2911f70bacf8b00ad16880b0f7d61.annie-spratt-wMqPJs2x0-A-unsplash-scaled.jpg" style="width:80%">
        </div>
    </div>

<div id=”footer” style="background: darkslategray">

    <p>Filo Flower Shop</p>
    <p>Starowiejska 12</p>
    <p>81-320 Gdynia</p>


</div>

</body>
</html>