<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower Shop</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>


<div id=”header”>
    <h1 style="background: darkslategray">Filo Flower Shop
        <p>
        <a href="/flowers" class="btn btn-success">Kwiaty</a>
        <a href="/discount" class="btn btn-success">Promocje</a>
        <a href="/category" class="btn btn-success">Kategorie</a>
        <a href="/accessories" class="btn btn-success">Dodatki</a>
        <a href="/about" class="btn btn-success">O nas</a>
        <button type="button" class="btn btn-success">Zaloguj się</button>
        <button type="button" class="btn btn-success">Moje konto</button>
        <button type="button" class="btn btn-success">Lista życzeń</button>
        <button type="button" class="btn btn-success">Kontakt</button></p>
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_MELANOCHRYSUM-flower-plant-farming_and_gardening-garden-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PHILODENDRON_PINK_PRINCESS-pink_princess-philodendron-plant-garden-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/PEACE_LILY-flower-plant-farming_and_gardening-gardening-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/SPIDER_PLANT-farming_and_gardening-gardening-garden-plants-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/GOLDEN_POTHOS-plant-nature-botanic-gardening-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/house-plant-3/64/XANADU-leaf-philodendron-plant-garden-512.png" style="size: 100px" width="200">
    <img src="https://cdn1.iconfinder.com/data/icons/therapy-8/64/GARDENING-garden-farming-shovel-sprout-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SHOVEL-farming-gardening-construction_and_tools-dig-512.png" style="size: 100px" width="200">
    <img src="https://cdn0.iconfinder.com/data/icons/garden-48/64/SPRAY_BOTTLE--farming-gardening-tools-512.png" style="size: 100px" width="200">

    </h1>
</div>

<p style="color: darkslategray">
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adres e-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Podaj e-mail</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Zapamiętaj mnie</label>
    </div>
    <button type="submit" class="btn btn-primary">Loguj</button>
</form>


</p>

<p style="margin: auto;width: 100px">
    <a class="btn btn-success" href="/" role="button">Powrót</a>
</p>
<p>
<div id=”footer” style="background: darkslategray">

    <p>Filo Flower Shop</p>
    <p>Starowiejska 12</p>
    <p>81-320 Gdynia</p>

    </p>
</div>

</body>
</html>